* {
    position: relative;
}
.tab-bar {
    padding: 0;
}
.tab-bar:after {
    content: "";
    display: block;
    height: 1px;
    background: #ccc;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
}
.tab-bar li, .SortableItem {
    display: inline-block;
    border: solid #ccc;
    border-width: 1px 1px 0;
    padding: 0.5em 0.5em;
    z-index: 0;
    background: #eee;
    cursor: pointer;
}
.tab-bar li.active {
    z-index: 2;
    background: #fff;
    border-color: #ec9;
    padding-top: 0.6em;
}

