RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.quyettran\.com/site/about [NC]
RewriteRule ^(.*)$ http://quyettran.com/site/about [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php 