@media screen and (max-width: 640px){
    html {
        font-size: 12px;
    }
}
.table-wrap {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}
table {
    word-wrap: break-word;
}
table td img {
    max-width: 120px;
}