*
{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
    vertical-align: baseline;
}
a
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a.link
{
    color: #06b;
}
a.link:hover
{
    text-decoration: underline;
}
button
{
    font-size: 1em;
}

.container
{
    max-width: 720px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
}
.breadcrumb
{
    margin-bottom: 1em;
    color: #aaa;
}
.breadcrumb li
{
    display: inline;
}
.breadcrumb li a
{
    color: #06b;
}
.breadcrumb li:not(:first-child):before
{
    /*content: "\00BB\00A0";*/
    content: "/\00A0";
    display: inline;
}

footer
{
    margin-top: 2rem;
}
footer .container
{
    background: #eee;
}

article + article
{
    margin-top: 1em;
}
article div + p,
article p + div,
article div + div
{
    margin-top: 0.5em;
}

.list-view li
{
    list-style: none;
}
.list-view li + li
{
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px dashed #eee;
}
.list-view li a
{
    font-size: 1.3em;
}

.table-wrap
{
    display: block;
    overflow-x: auto;
    width: 100%;
}
.table-wrap table
{
    min-width: 100%;
}

.img-wrap,
.img-wrap img
{
    display: block;
    max-width: 100%;
}

.article-desc
{
    font-weight: bold;
    color: #888;
    font-style: italic;
    border: solid #ade;
    padding: 1em;
}

.left,
.pull-left {
    float: left;
}
.right,
.pull-right
{
    float: right;
}
.clr:after
{
    content: "";
    clear: both;
    display: block;
    height: 0;
    padding: 0;
}

/**
 * PAGE TITLE
 */
.page-title {
    background: #fafafa;
    border-bottom: 1px solid #dfdfdf;
}
.page-title .content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9rem;
    line-height: 1.9rem;
    color: #333;
}

/**
 * NAV BAR
 */
.nav-bar
{
    width: 100%;
    clear: both;
    color: #fff;
    z-index: 100;
}
.nav-bar .menu
{
    background: #1666A5;
}
.nav-bar .menu ul li
{
    float: left;
    list-style: none;
}
.nav-bar .menu ul li a
{
    padding: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1rem;
    display: inline-block;
}
.nav-bar .menu ul li:hover > a,
.nav-bar .menu ul li.active > a
{
    background: #16B0F4;
    color: #fff;
}
.nav-bar .menu ul li > a:hover
{
    text-decoration: underline;
}
.nav-bar .menu li ul
{
    position: absolute;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    color: #333;
    display: none;
}
.nav-bar .menu li:hover > ul
{
    display: block;
}
.nav-bar .menu li ul li
{
    width: 100%;
}
.nav-bar .menu li ul > li:not(:first-of-type) > a
{
    border-top: 1px dotted #ddd;
}
.nav-bar .menu li ul li a
{
    white-space: nowrap;
    text-transform: none;
    width: 100%;
    display: block;
    font-size: 0.9em;
}
.nav-bar .menu li ul li.active > a,
.nav-bar .menu li ul li a:hover
{
    background: #fafafa;
    color: #1666A5;
}
.nav-bar .menu li li ul
{
    left: 100%;
    top: 0;
}
.nav-bar .search-toggle
{
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
}
.nav-bar .search-box
{
    position: absolute;
    width: 100%;
    right: 0.5rem;
    top: 0;
    padding: 1rem;
    background: #fff;
    display: none;
    z-index: 10;
}
.nav-bar .search-box.active
{
    display: block;
}

@media screen and (max-width: 860px)
{
    
}

@media screen and (max-width: 640px)
{
    
}

@media screen and (min-width: 641px)
{
    
}

@media screen and (min-width: 861px)
{
    /**
     * NAV BAR
     */
    .nav-bar .menu .menu-toggle
    {
        display: none;
    }
    .nav-bar .menu > ul > li:not(:last-of-type):after
    {
        content: "|\00A0";
        display: inline-block;
    }
    .nav-bar .search-box
    {
        padding: 0.45rem 0;
        margin: 0;
    }
}