* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a.link {
    color: #06b;
}
a.link:hover {
    text-decoration: underline;
}
button {
    font-size: 1em;
}

.container {
    max-width: 640px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
}
.breadcrumb {
    margin-bottom: 1em;
    color: #aaa;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li a {
    color: #06b;
}
.breadcrumb li:not(:first-child):before {
    /*content: "\00BB\00A0";*/
    content: "/\00A0";
    display: inline;
}

footer {
    margin-top: 2rem;
}
footer .container {
    background: #eee;
}

h1 + * {
    margin-top: 2em;
}
h2 + * {
    margin-top: 0.5em;
}
article + article {
    margin-top: 1em;
}
article div + p,
article p + div,
article div + div {
    margin-top: 0.5em;
}

.list-view li {
    list-style: none;
}
.list-view li + li {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px dashed #eee;
}
.list-view li a {
    font-size: 1.3em;
}

code {
    white-space: normal;
}
.code-example {
    margin: 1em 0;
}
.code-example code,
.code-example textarea,
.code-example iframe {
    display: block;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}
.code-example iframe {
    resize: vertical;
    overflow: auto;
}
.code-example code,
.code-example textarea
{
    display: block;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    padding: 1rem 0;
    font-size: 0.93rem;
    line-height: 1.1;
    font-weight: normal;
    font-family: monospace, monospace;
    font-stretch: normal;
}
.code-example-snippet {
    background: #f8f8f8;
}
.code-example textarea {
    border: none;
    resize: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.code-example-sandbox {
    height: 0;
    width: 100%;
    max-height: 90vh;
}
.code-example-buttons-wrapper {
    margin: 0;
    padding: 0.5em 0.25em;
}
.code-example-snippet,
.code-example-editor,
.code-example-buttons-wrapper,
.code-example-sandbox {
    border: solid #eee;
}
.code-example-snippet {
    border-color: transparent;
}
.code-example-snippet,
.code-example-editor {
    border-width: 1px 1px 0;
}
.code-example-sandbox {
    border-width: 0 1px 3px;
}
.code-example-buttons-wrapper {
    border-width: 0 1px 1px;
}
.code-example-submit-button,
.code-example-mode-switcher {
    display: inline-block;
    padding: 0.3em;
    border-radius: 3px;
    border: 1px solid;
    margin: 0 0.25em;
}
.code-example-submit-button {
    background: #06b;
    color: #fff;
    border-color: #048;
}
.code-example-mode-switcher {
    background: #e6eaef;
    border-color: #ccc;
}
.code-example-submit-button:after {
    content: "run code";
}
.code-example:not([data-autorun="0"])[data-readonly="1"] .code-example-submit-button {
    display: none;
}
.code-example[data-readonly="1"] .code-example-mode-switcher:after {
    content: "edit code";
}
.code-example[data-readonly="0"] .code-example-mode-switcher:after {
    content: "back origin";
}

.table-wrap {
    display: block;
    overflow-x: auto;
    width: 100%;
}
.table-wrap table {
    min-width: 100%;
}

.img-wrap,
.img-wrap img {
    display: block;
    max-width: 100%;
}

.article-desc {
    font-weight: bold;
    color: #888;
    font-style: italic;
    border: solid #ade;
    padding: 1em;
}

.mirror-html-comment {
    background: rgb(255, 240, 200);
}
.mirror-css-comment {
    background: rgb(210, 255, 200);
}
.mirror-js-comment {
    background: rgb(200, 240, 255);
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    padding: 0;
}