
.breadcrumb li {
    display: inline-block;
}
.breadcrumb li:not(:first-child):before {
    content: "\00A0\00BB\00A0";
    display: inline;
}

.list-view li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.list-view a {
    text-decoration: none;
}
.list-view a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

code {
    word-wrap: break-word;
    white-space: normal;
}

.code-example code,
.code-example textarea,
.code-example iframe {
    border-style: solid;
    border-color: #cde;
    border-width: 1px 0;
    border-radius: 0;
    padding: 1rem;
    box-sizing: border-box;
}
.code-example code,
.code-example textarea
{
    position: relative;
    display: block;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.1em;
    font-weight: normal;
    font-family: monospace, monospace;
    font-stretch: normal;
    margin: 0;
    resize: none;
}
.code-example code {
    background: #f8f8f8;
}
.code-example textarea {
    background: transparent;
}
.code-example iframe {
    display: block;
    width: 100%;
    height: 0;
    max-height: 90vh;
}
.code-example button {
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 0;
}
.code-example button:after {
    content: "Run code";
}

.table-wrap {
    display: block;
    overflow-x: auto;
    width: 100%;
}
.table-wrap table {
    min-width: 100%;
}

.img-wrap,
.img-wrap img {
    display: block;
    max-width: 100%;
}

.mirror-html-comment {
    background: rgb(255, 230, 204);
}
.mirror-css-comment {
    background: rgb(221, 255, 213);
}
.mirror-js-comment {
    background: rgb(204, 247, 255);
}
