.breadcrumb li {
    display: inline-block;
}
.breadcrumb li:not(:first-child):before {
    content: "\00A0\00BB\00A0";
    display: inline;
}

.list-view li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.list-view a {
    text-decoration: none;
}
.list-view a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}
.code-example-input {
    width: 100%;
    height: auto;
    -webkit-tab-size : 4;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}
.code-example-output {
    display: block;
    width: 100%;
    height: auto;
    max-height: 500px;
}

.disable-scroll {
    overflow: hidden;
}

.code-example code,
.code-example textarea,
.code-example .textarea-copy {
    font-size: 13px;
    font-weight: normal;
    font-family: monospace, monospace;
    transition: all 0.3s;
    padding: 6px;
    border-width: 1px;
    box-sizing: border-box;
    line-height: 18px;
    word-wrap: break-word;
    overflow: hidden;
}
.code-example .textarea-copy {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -9999;
    pointer-events: none;
}